$wtf: #2D2241;

:root {
    --background-color: #222629;
    --font-color: whitesmoke;

    --background-color--dark: #222629;
    --font-color--dark: whitesmoke;

    --background-color--light: whitesmoke;
    --font-color--light: #222629;
}